@charset "UTF-8";
@font-face {
  font-family: 'Neue Machina Regular';
  src: local("Neue Machina Regular"), local("Neue-Machina-Regular"), url("../fonts/NeueMachina-Regular.woff2") format("woff2"), url("../fonts/NeueMachina-Regular.woff") format("woff"), url("../fonts/NeueMachina-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Druk Cyr Heavy Italic';
  src: url("../fonts/Druk/DrukTextWideCyrHeavyItalic.otf");
  font-style: italic; }

@font-face {
  font-family: 'Neue Machina Ultra bold';
  src: local("Neue Machina Ultra bold"), local("Neue-Machina-Ultra-bold"), url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"), url("../fonts/NeueMachina-Ultrabold.woff") format("woff"), url("../fonts/NeueMachina-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }
  * a {
    text-decoration: none; }

body {
  height: 90vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg_c.png") right bottom no-repeat fixed, url("../img/bg_.png") center center no-repeat fixed;
  background-size: auto, cover;
  overflow: hidden; }
  body:before {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(21%, rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 300px; }
  body:after {
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(21%, rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 300px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.wrapper {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
  margin: 32px 47px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "title  present" "bonus bonus" "btn-group best-front" "money social"; }

.header-title {
  grid-area: title;
  z-index: 20; }

.header-present {
  z-index: 20;
  grid-area: present;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header-present h3 {
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-family: "Neue Machina Ultra bold", sans-serif;
    color: white;
    text-transform: uppercase;
    line-height: 1.098;
    z-index: 51; }
  .header-present p {
    position: relative;
    font-size: 8px;
    font-family: "Neue Machina Regular", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    line-height: 0.94;
    text-align: left;
    z-index: 53;
    margin-top: 2px; }

.header-present p:before {
  content: '';
  width: 50px;
  height: 62px;
  background: url("../img/VectorSmartObject.png") no-repeat;
  position: absolute;
  left: -15%;
  bottom: 0; }

.bonus {
  z-index: 20;
  grid-area: bonus;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  align-self: end; }
  .bonus > p {
    font-family: "Druk Cyr Heavy Italic", sans-serif;
    font-style: italic;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 412px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .bonus .like {
    position: relative;
    font-family: "Druk Cyr Heavy Italic", sans-serif;
    font-style: italic;
    color: #f8ff13;
    text-transform: uppercase;
    line-height: 1.2;
    max-width: 412px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 97pt;
    margin-left: 150px;
    -webkit-animation: like 2s cubic-bezier(1, -0.01, 0.54, 1.76);
            animation: like 2s cubic-bezier(1, -0.01, 0.54, 1.76); }
    .bonus .like:after {
      content: 'ЛАЙКИ';
      font-size: 95.5pt;
      -webkit-text-stroke: 1px #fff;
      color: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -3%;
      top: 0.5%;
      z-index: -1; }
    .bonus .like:before {
      content: '';
      background: url("../img/l.svg");
      position: absolute;
      left: -36%;
      width: 149px;
      height: 74pt;
      top: 23%; }

.btn-group {
  position: relative;
  grid-area: btn-group;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-self: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  z-index: 20; }
  .btn-group .tap {
    width: 490px;
    height: 100px; }
    .btn-group .tap .btn-tap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 480px;
      height: 90px;
      color: #000;
      font-family: "Druk Cyr Heavy Italic", sans-serif;
      text-transform: uppercase;
      font-size: 23.36pt;
      -webkit-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
              transform: skewX(-10deg);
      background-color: #f8ff13;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      .btn-group .tap .btn-tap:hover {
        margin-left: 10px;
        margin-top: 11px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        background-color: #fff; }
    .btn-group .tap .shadow {
      position: absolute;
      -webkit-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
              transform: skewX(-10deg);
      background-color: rgba(0, 0, 0, 0.2);
      border: solid 1px #fff;
      width: 480px;
      height: 90px;
      left: 2.8%;
      top: 6.2%;
      z-index: -1; }
  .btn-group .rules {
    z-index: 20;
    margin-top: 30px;
    color: #fff;
    text-decoration: underline;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-family: "Neue Machina Regular", sans-serif;
    font-size: 12pt; }

.best-front {
  z-index: 20;
  grid-area: best-front;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .best-front .knight {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 43%; }
  .best-front .front-text {
    position: relative; }
    .best-front .front-text .change-color {
      z-index: -1;
      font-family: "Druk Cyr Heavy Italic", sans-serif;
      font-style: italic;
      font-size: 48px;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.2;
      -webkit-text-stroke: 1px #fff; }
      .best-front .front-text .change-color span {
        margin-left: 13%; }
    .best-front .front-text .second {
      position: absolute;
      top: 0;
      z-index: 3;
      color: transparent; }

.money-group {
  z-index: 20;
  grid-area: money;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-self: end; }
  .money-group li:not(first-child) {
    margin-left: 30px; }

.social-group {
  z-index: 20;
  grid-area: social;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-self: end; }
  .social-group li {
    margin-left: 30px; }

.bubbls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1; }
  .bubbls .ball {
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../img/1.png") no-repeat center center;
    background-size: cover;
    -webkit-filter: blur(8px);
            filter: blur(8px);
    -webkit-animation: balls 40s linear infinite;
            animation: balls 40s linear infinite; }
    .bubbls .ball:nth-child(1) {
      position: absolute;
      left: 70%;
      width: 177px;
      height: 177px;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .bubbls .ball:nth-child(2) {
      position: absolute;
      left: 90%;
      width: 90px;
      height: 90px;
      -webkit-animation-delay: 5s;
              animation-delay: 5s; }
    .bubbls .ball:nth-child(3) {
      position: absolute;
      left: 30%;
      width: 60px;
      height: 60px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s; }
    .bubbls .ball:nth-child(4) {
      position: absolute;
      left: 60%;
      width: 100px;
      height: 100px;
      -webkit-animation-delay: 20s;
              animation-delay: 20s;
      z-index: 10; }
    .bubbls .ball:nth-child(5) {
      position: absolute;
      left: 30%;
      width: 40px;
      height: 40px;
      -webkit-animation-delay: 25s;
              animation-delay: 25s; }
    .bubbls .ball:nth-child(6) {
      position: absolute;
      left: 10%;
      width: 40px;
      height: 40px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s; }
    .bubbls .ball:nth-child(7) {
      position: absolute;
      left: 25%;
      width: 177px;
      height: 177px;
      -webkit-animation-delay: 11s;
              animation-delay: 11s; }

@-webkit-keyframes balls {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-120vh);
            transform: translateY(-120vh); } }

@keyframes balls {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-120vh);
            transform: translateY(-120vh); } }

@-webkit-keyframes like {
  0% {
    left: -100%; }
  30% {
    left: -100%; }
  100% {
    left: 0%; } }

@keyframes like {
  0% {
    left: -100%; }
  30% {
    left: -100%; }
  100% {
    left: 0%; } }

.circles {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 500px;
  top: -25%;
  left: 30%; }
  .circles .circle-elem {
    position: absolute;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-animation: water 8s linear infinite;
            animation: water 8s linear infinite; }
  .circles .circle-elem:nth-child(1) {
    -webkit-animation-delay: 8s;
            animation-delay: 8s; }
  .circles .circle-elem:nth-child(2) {
    -webkit-animation-delay: 7s;
            animation-delay: 7s; }
  .circles .circle-elem:nth-child(3) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s; }
  .circles .circle-elem:nth-child(4) {
    -webkit-animation-delay: 5;
            animation-delay: 5; }
  .circles .circle-elem:nth-child(5) {
    -webkit-animation-delay: 4;
            animation-delay: 4; }
  .circles .circle-elem:nth-child(6) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s; }
  .circles .circle-elem:nth-child(7) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s; }
  .circles .circle-elem:nth-child(8) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }

@-webkit-keyframes water {
  0% {
    height: 0px;
    width: 0px;
    opacity: 1;
    -webkit-box-shadow: 3px 3px 0 5px #4f2866, inset 3px 3px 0 5px #4f2866;
            box-shadow: 3px 3px 0 5px #4f2866, inset 3px 3px 0 5px #4f2866; }
  100% {
    height: 500px;
    width: 500px;
    opacity: 0;
    -webkit-box-shadow: 1px 1px 0 2px #333366, inset 1px 1px 0 2px #333366;
            box-shadow: 1px 1px 0 2px #333366, inset 1px 1px 0 2px #333366; } }

@keyframes water {
  0% {
    height: 0px;
    width: 0px;
    opacity: 1;
    -webkit-box-shadow: 3px 3px 0 5px #4f2866, inset 3px 3px 0 5px #4f2866;
            box-shadow: 3px 3px 0 5px #4f2866, inset 3px 3px 0 5px #4f2866; }
  100% {
    height: 500px;
    width: 500px;
    opacity: 0;
    -webkit-box-shadow: 1px 1px 0 2px #333366, inset 1px 1px 0 2px #333366;
            box-shadow: 1px 1px 0 2px #333366, inset 1px 1px 0 2px #333366; } }

@media (max-width: 400px) {
  body {
    background: url("../img/bg_c.png") right top no-repeat fixed, url("../img/bg_.png") center center no-repeat fixed;
    background-size: auto 100%, auto; }
  .wrapper {
    margin: 0 10px;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "title" "best-front" "bonus" "btn-group" "present" "money" "social"; }
    .wrapper:before {
      content: '';
      background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(21%, rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0)));
      background: -o-linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      left: 0;
      top: 45%;
      width: 400px;
      height: 200px; }
    .wrapper:after {
      content: '';
      background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(21%, rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0)));
      background: -o-linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(black 0%, rgba(0, 0, 0, 0.79) 21%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      left: 0;
      top: 23%;
      width: 400px;
      height: 200px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .wrapper .header-present {
      margin: 40px 0;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
    .wrapper .header-title {
      width: 100%;
      margin-top: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .wrapper .best-front {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      place-self: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      width: 320px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .wrapper .best-front .knight {
        width: auto;
        height: 300px;
        top: 15%;
        left: 0; }
      .wrapper .best-front .front-text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 150px;
        margin-left: 10px; }
      .wrapper .best-front .best-front .front-text .change-color, .wrapper .best-front .first, .wrapper .best-front .second {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        font-size: 28px; }
    .wrapper .bubbls {
      overflow: hidden;
      z-index: -1; }
    .wrapper .btn-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .wrapper .btn-group .tap {
        margin-top: 20px;
        width: 250px; }
        .wrapper .btn-group .tap .btn-tap {
          width: 250px;
          font-size: 15.36pt;
          left: 30%; }
          .wrapper .btn-group .tap .btn-tap:hover {
            margin-left: 5px;
            margin-top: 16px; }
        .wrapper .btn-group .tap .shadow {
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          margin: 0;
          width: 250px;
          left: 10%;
          top: 20%; }
    .wrapper .bonus {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 120px; }
      .wrapper .bonus p {
        font-size: 28px; }
      .wrapper .bonus p:nth-child(1) {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start; }
      .wrapper .bonus .mobile-position {
        text-align: end; }
      .wrapper .bonus .like {
        width: 280px;
        font-size: 30pt;
        margin-left: 90px; }
        .wrapper .bonus .like:after {
          font-size: 29pt;
          left: -2%; }
        .wrapper .bonus .like:before {
          height: 31px;
          width: 47px;
          left: -20%; }
    .wrapper .money-group {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .wrapper .social-group {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }

/*# sourceMappingURL=style.css.map */
