@import "fonts";

*{
  padding: 0;
  margin: 0;
  list-style: none;
  a{
    text-decoration: none;
  }
}

@mixin main-text{
  font-family: "Druk Cyr Heavy Italic", sans-serif;
  font-style: italic;
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
}


@mixin gradient{
  background: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.79) 21%, rgba(0,0,0,0) 100%);
  position: absolute;
}

html{
  height: 100%;
  overflow: hidden;
}

body{
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 50%, rgba(0,212,255,0) 50%), linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 50%, rgba(0,212,255,0) 50%),  url("../img/bg_.png")  center center no-repeat fixed;
  background-size: auto, auto, cover;
  .castle{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: -1;
  }
}




.wrapper{
  max-width: 100%;
  margin: 32px 47px;

  height: 90vh;
  display: grid;
  //position: relative;
  grid-template-columns: 40% 60%;
  grid-template-areas: "title  present"
                        "bonus bonus"
                         "btn-group best-front"
                         "money social";
}

.header-title{
 grid-area: title;
  z-index: 30;
}

.header-present{
  z-index: 20;
  grid-area: present;
  display: flex;
  //justify-content: end;
  align-items: flex-end;
  flex-direction: column;
  h3{
    width: 250px;
     height: 40px;
     font-size: 18px;
      font-family: "Neue Machina Ultra bold", sans-serif;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1.098;
      z-index: 51;
  }
  p{
    position: relative;
      font-size: 8px;
      font-family: "Neue Machina Regular", sans-serif;
      color: rgba(255, 255, 255, 0.4);
      text-transform: uppercase;
      line-height: 0.94;
      text-align: left;
      z-index: 53;
      margin-top: 2px;
  }
}

.header-present p:before{
  content: '';
  width: 50px;
  height: 62px;
  background: url("../img/VectorSmartObject.png") no-repeat;
  position: absolute;
  left: -15%;
  bottom: 0;
}

.bonus{
  z-index: 30;
  grid-area: bonus;
  display: flex;
  flex-direction: column;
  align-self: end;
  >p{
    @include main-text;
    max-width: 412px;
    justify-content: center;
    align-items: center;

  }
  .like{
    position: relative;
    animation: like 2s cubic-bezier(1,-0.01,.54,1.76);
    display: flex;
    align-items: center;
    img{
      position: absolute;
      top: 36px;
      width: 80px;
      height: auto;
    }
    img:nth-child(1){
      left: 0;
     }
    img:nth-child(2){
      left: 56px;
    }
    p{
      position: relative;
      font-family: "Druk Cyr Heavy Italic", sans-serif;
      font-style: italic;
      color: #f8ff13;
      text-transform: uppercase;
      line-height: 1.2;
      max-width: 412px;
      justify-content: center;
      align-items: center;
      font-size: 95.5pt;
      margin-left: 125px;
      &:after{
        content: 'ЛАЙКИ';
        font-size: 95.5pt;
        -webkit-text-stroke: 1px #fff;
        color: rgba(0,0,0, 0.2);
        position: absolute;
        left: -3%;
        top: 0;
        z-index: -1;
      }
    }

  }
}


.btn-group{
  position: relative;
  grid-area: btn-group;
  display: flex;
  align-self: end;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  z-index: 20;
  .tap{
    width: 490px;
    height: 100px;
    .btn-tap{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 480px;
      height: 90px;
      color: #000;
      font-family: "Druk Cyr Heavy Italic", sans-serif;
      text-transform: uppercase;
      font-size: 23.36pt;
      transform: skewX(-10deg);
      background-color: #f8ff13;
      transition: 0.1s;
      &:hover{
        margin-left: 6px;
        margin-top: 11px;
        transition: 0.1s;
        background-color: #fff;
      }
    }
    .shadow{
      position: absolute;
      transform: skewX(-10deg);
      background-color: rgba(0,0,0, 0.2);
      border: solid 1px #fff;
      width: 480px;
      height: 90px;
      left: 10px;
      top: 10px;
      z-index: -1;
    }
  }


  .rules{
    z-index: 20;
    margin-top: 30px;
    color: #fff;
    text-decoration: underline;
    justify-content: center;
    align-self: center;
    font-family: "Neue Machina Regular", sans-serif;
    font-size: 12pt;
  }
}


.best-front{
  z-index: 20;
  grid-area: best-front;
  display: grid;
  justify-content: center;
  .knight{
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 43%;
  }
  .front-text{
    position: relative;
    .change-color{
      z-index: -1;
      @include main-text;
      -webkit-text-stroke: 1px #fff;
      span {
        margin-left: 13%;
      }
    }
    .second{
      position: absolute;
      top: 0;
      z-index: 4;
      color: transparent;
    }
  }
}



.money-group{
  z-index: 20;
  grid-area: money;
  display: flex;
  align-self: end;
  li:not(first-child){
    margin-left: 30px;
  }

}
.social-group{
  z-index: 20;
  grid-area: social;
  display: flex;
  justify-content: flex-end;
  align-self: end;
  li{
    margin-left: 30px;
  }
  li:nth-child(1){
    .sign18{
      display: block;
    }
    .media-sign18{
      display: none;
    }
  }

}


.bubbls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  z-index: -1;
    .ball {
    position: absolute;
    border-radius: 50%;
    background: url("../img/1.png") no-repeat center center;
    background-size: cover;
    filter: blur(8px);
    animation: balls 20s linear infinite;

    &:nth-child(1){
      position: absolute;
      left: 70%;
      width: 177px;
      height: 177px;
      animation-delay: 0s;
    }
      &:nth-child(2){
        position: absolute;
        left: 90%;
        width: 90px;
        height: 90px;
        animation-delay: 5s;
        //animation-duration: 10s;
      }
      &:nth-child(3){
        position: absolute;
        left: 30%;
        width: 60px;
        height: 60px;
        animation-delay: 15s;
        //z-index: -1;
      }
      &:nth-child(4){
        position: absolute;
        left: 60%;
        width: 100px;
        height: 100px;
        animation-delay: 20s;
        z-index: 10;
      }
      &:nth-child(5){
        position: absolute;
        left: 30%;
        width: 40px;
        height: 40px;
        animation-delay: 25s;
      }
      &:nth-child(6){
        position: absolute;
        left: 10%;
        width: 40px;
        height: 40px;
        animation-delay: 15s;
      }
      &:nth-child(7){
        position: absolute;
        left: 25%;
        width: 177px;
        height: 177px;
        animation-delay: 11s;
      }
  }
}


@keyframes balls{
  0%{
    transform: translateY(0);
    //opacity: 1;
  }
  100%{
    transform: translateY(-1200px);
    //opacity: 0;
  }

}

@keyframes like {
  0%{
    left: -100%;
  }
  30%{
    left: -100%;
  }
  100%{
    left: 0%;
  }
}


.circles, .circles2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  top: -28%;
  left: 30%;
  z-index: -2;
  .circle-elem{
    position: absolute;
    border-radius: 50%;
    animation: water 8s linear infinite;
  }
  .circle-elem:nth-child(1){
    animation-delay: 8s;
  }
  .circle-elem:nth-child(2){
    animation-delay: 7s;
  }
  .circle-elem:nth-child(3){
    animation-delay: 6s;
  }
  .circle-elem:nth-child(4){
    animation-delay: 5s;
  }
  .circle-elem:nth-child(5){
    animation-delay: 4s;
  }
  .circle-elem:nth-child(6){
    animation-delay: 3s;
  }
  .circle-elem:nth-child(7){
    animation-delay: 2s;
  }
  .circle-elem:nth-child(8){
    animation-delay: 1s;
  }
}

.circle2{
  display: none;
}


@keyframes water {
 0%{
   height: 0px;
   width: 0px;
   opacity: 1;
   box-shadow: 3px 3px 0  5px rgb(79, 40, 102),
         inset 3px 3px 0  5px rgb(79, 40,102);
 }
  100%{
    height: 500px;
    width: 500px;
    opacity: 0;
    box-shadow: 1px  1px 0 2px rgb(51,51,102),
          inset 1px  1px 0 2px rgb(51,51,102);
  }
}


@media (max-width: 1488px){
  .wrapper{
    .bonus{
      max-width: 500px;
      p{
        font-size: 2rem;
      }
      .like{
        p{
          margin-left: 100px;
          font-size: 70pt;
          &:after{
            font-size: 70pt;
          }
        }
       img{
         top: 26px;
         width: 58px;
         height: auto;
       }
        img:nth-child(2){
          left: 40px;
        }
      }
    }
  }
}

@media (max-width: 1356px){
  .best-front{
    margin-left: 50px;
    .front-text{
      .change-color{
        font-size:  38px
      }
    }
  }
  .btn-group{
    .tap{
      position: relative;
      width: 320px;
      .btn-tap{
        max-width: 100%;
        height: 90px;
        color: #000;
        font-size: 20pt;
        &:hover {
          margin-left: 11px;
          margin-top: 11px;
          cursor: pointer;
        }
      }
      .shadow{
        max-width: 100%;
        height: 90px;
        left: 10px;
        top: 10px;
        z-index: -1;
      }
    }
  }


}


@media (max-width: 1272px){
  .best-front .knight{
    height: 80%;
    width: auto;
  }

  .wrapper{
    .bonus{
      max-width: 500px;
      p{
        font-size: 2rem;
      }
      .like{
        p{
          margin-left: 80px;
          font-size: 50pt;
          &:after{
            font-size: 50pt;
          }
        }
        img{
          top: 19px;
          width: 42px;
          height: auto;
        }
        img:nth-child(2){
          left: 30px;
        }
      }
    }
  }

}

@media (max-width: 1000px) {
.btn-group .tap{
    width: 230px;
    .btn-tap{
      font-size: 15pt;

    }
  }
}





@media (max-width: 850px) {
  html {
    overflow: hidden;
  }
  body {
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 212, 255, 0) 50%), linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 212, 255, 0) 50%), url("../img/bg_.png") center center no-repeat fixed;
    background-size: auto, auto, auto 100%;
    //height: 1023px;
    height: 100%;
    overflow-x: hidden;
    //overflow-y: hidden;
    .castle {
      top: 10%;
      right: 0;
    }

    .wrapper {
      margin: 10px 20px;
      height: 100%;
      grid-template-columns: 100%;
      grid-auto-rows: 50px;
      grid-template-rows: 10% 1fr 250px 1fr 25% 15% 10% 10% 5%;
      grid-template-areas:
              "title"
              "best-front"
              "bonus"
              "btn-group"
              "present"
              "money"
              "social";

      .header-present {
        margin: 50px 0px 50px 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

      }

      .header-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .best-front {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        z-index: 1;

        .knight {
          position: absolute;
          width: 340px;
          height: auto;
          top: -10%;
          left: -15%;
          z-index: 2;
        }

        .front-text {
          max-width: 500px;
          justify-self: center;
          margin-top: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
          width: 100%;
          flex-wrap: wrap;
        }

        .best-front .front-text .change-color, .first, .second {
          width: 100%;
          flex-wrap: wrap;
          font-size: 30px;
          span {
            text-align: end;
            width: 100%;
          }
        }
      }


      .btn-group {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
        margin-top: 25px;
        .tap {
          width: 100%;
          display: flex;
          justify-content: center;
          .btn-tap {
            width: 100%;
            height: 56px;
            font-size: 15.36pt;
            &:hover {
              margin-left: 0px;
              margin-top: 12px;
              cursor: pointer;
            }
          }

          .shadow {
            align-self: center;
            margin: 0;
            width: 100%;
            height: 56px;
            left: 0;
            top: 10%;
          }

        }

        .rules {
          margin-top: 0;
        }
      }


      .bonus {
        margin-top: 70px;
        display: flex;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 4;
        max-width: 100%;
        width: auto;
        p {
          font-size: 34px;
        }

        p:nth-child(1) {
          align-self: flex-start;
        }

        .mobile-position {
          display: flex;
          align-self: flex-end;
          text-align: end;
        }

        .like {
          width: auto;
          font-size: 30pt;
          margin-left: 0px;

          &:after {
            font-size: 29pt;
            left: -2%;
            -webkit-text-stroke: 0.5px #fff;
          }

          &:before {
            height: 31px;
            width: 47px;
            left: -20%;
          }
        }

      }

      .money-group {
        position: relative;
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin: 0 20px;
        padding: 0 20px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        li{
          margin: 10px;
        }
        li:nth-child(1) {
          margin-left: 0;


        }

      }

      .social-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        align-items: center;
        height: 50px;
        li:nth-child(1){
          margin: 0;
          .sign18{
            display: none;
          }
          .media-sign18{
            display: block;
          }
        }
      }
    }

    .bubbls {
      bottom: 0;
      top: 0;
      .ball {
        opacity: 0;
        animation: balls 10s linear infinite;
      }
      .ball:nth-child(1) {
        width: 25px;
        height: 25px;
        left: 50%;
        animation-delay: 0s;
      }
      .ball:nth-child(2) {
        left: 10%;
        animation-delay: 1s;
      }
      .ball:nth-child(3) {
        left: 60%;
      }
      .ball:nth-child(n+4):nth-child(-n+7) {
        display: none;
      }
    }

    .circles, .circles2 {
      width: 200px;
      height: 200px;
    }


    //.circles {
    //  left: -10%;
    //  top: 47%;
    //}
    //
    //.circles2 {
    //  display: flex;
    //  width: 200px;
    //  height: 200px;
    //  left: -30%;
    //  top: 50%;
    //}



  }

  @keyframes balls {
    0% {
      transform: translateY(800px);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }

    100% {
      transform: translateY(-100px);
      opacity: 1;
    }

  }


  @keyframes water {
    0% {
      height: 0px;
      width: 0px;
      opacity: 1;
      box-shadow: 1px 1px 0 2px rgb(79, 40, 102),
      inset 1px 1px 0 2px rgb(79, 40, 102);
    }
    100% {
      height: 500px;
      width: 500px;
      opacity: 0;
      box-shadow: 1px 1px 0 2px rgb(51, 51, 102),
      inset 1px 1px 0 2px rgb(51, 51, 102);
    }
  }
}


@media (max-width: 590px){
  body{
    position: relative;
  }
  .best-front{
    margin-left: 0;
  }
  body .wrapper .best-front .knight{
    width: 230px;
    left: -50px;
  }
  body .wrapper .best-front .second, .first{
    margin-left: 0;
    display: flex;
    justify-content: end;
  }
  .wrapper .best-front .front-text{
    margin-right: 20px;
    display: flex;
    span{
      margin: 0;
    }
  }

  body .wrapper .bonus p {
    font-size: 20pt;
  }

  .wrapper{
    margin: 0 20px;
    .bonus {
      width: 100%;
      margin-top: 80px;
      .like{
        width: 100%;

        img{
          width: 32px;
          height: auto;
          line-height: 1.2pt;
          top:14px
        }
        img:nth-child(1){
          left: 2px;
        }
        img:nth-child(2){
          left: 22px;
        }
        p{
          margin-left: 52px;
          font-size: 38pt;
          &:after{
            font-size: 38pt;
            -webkit-text-stroke: 0.5px #fff;
          }
        }
      }
    }
  }

  .money-group{
    align-items: start;
    li{
     //height: 30px;
    }
  }
  body .circles{
    top: 45%;
    left: -15%;
  }
 .header-present {
   position: relative;
   .circles2 {
     left: -80%;
     top: -80%;
     .circle-elem {
       max-width: 300px;
       max-height: 300px;
     }
   }

 }

  @keyframes water {
    0% {
      height: 0px;
      width: 0px;
      opacity: 1;
      box-shadow: 1px 1px 0 2px rgb(79, 40, 102),
      inset 1px 1px 0 2px rgb(79, 40, 102);
    }
    100% {
      height: 300px;
      width: 300px;
      opacity: 0;
      box-shadow: 1px 1px 0 2px rgb(51, 51, 102),
      inset 1px 1px 0 2px rgb(51, 51, 102);
    }
  }

}





